.movieparent {
  display: flex;
  flex-basis: calc(100% / 4);
  flex-direction: column;
  margin: 5px;
}
.movie {
  max-width: 100%;
  display: block;
  margin: auto;
  max-height: 200px;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
